<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="QuickAssistProcessor1"
            id="quickassist.quickAssistProcessor1"
            name="Find Completions">
      </quickAssistProcessor>
   </extension>
  
</plugin>
